<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net461" />
  <package id="Microsoft.TestPlatform" version="16.0.1" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="OpenCover" version="4.7.922" targetFramework="net461" />
  <package id="ReportGenerator" version="4.0.15" targetFramework="net461" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net461" />
</packages>